.custom-select {
  position: relative;
  width: 190px;
  max-width: 100%;
  font-size: 1.15rem;
  color: #000;
}

.select-button {
  width: 100%;
  font-size: 1.15rem;
  background-color: #f5f6fa;
  padding: 0.675em 1em;
  border: 1px solid #caced1;
  border-radius: 1rem;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-value {
  text-align: left;
  color: #898ca4;
  font-weight: 600;
}

.arrow {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #898ca4;
  transition: transform ease-in-out 0.3s;
}

.select-dropdown {
  position: absolute;
  list-style: none;
  width: 100%;
  background-color: #f5f6fa;
  border: 1px solid #caced1;
  border-radius: 1rem;
  padding: 10px;
  margin-top: 10px;
  max-height: 200px;
  transition: 0.5s ease;
  transform: scaleY(0);
  /* opacity: 0; */
  visibility: hidden;
}

.select-dropdown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown li label {
  font-family: "public sans variable";
  font-weight: 600;
  color: #898ca4;
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-select.active .arrow {
    transform: rotate(180deg);
}

.custom-select.active .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }

.select-dropdown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}
